<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="endpoint2">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44316/FKServices.svc" binding="wsHttpBinding"
                bindingConfiguration="endpoint2" contract="Mobile.IFK" name="endpoint2">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>