<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FKSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FKSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16935/FK.asmx" binding="basicHttpBinding"
                bindingConfiguration="FKSoap" contract="Mobile.FKSoap" name="FKSoap" />
            <endpoint address="http://localhost:16935/FK.asmx" binding="customBinding"
                bindingConfiguration="FKSoap12" contract="Mobile.FKSoap" name="FKSoap12" />
        </client>
    </system.serviceModel>
</configuration>